*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
wrapper{
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    background-color: rgb(212, 221, 212);
    display: flex;
    justify-content: center;
    /* padding-left: 40px; */
}
aside{
    height: 100%;
    width: 25%;
    background-color: rgb(212, 221, 212);
}
wrapper aside .box{
    height: 23%;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
wrapper aside .box1{
    background-image: linear-gradient(40deg,blue,purple, orange);
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* margin-bottom: 20px; */
}
wrapper aside .box1 .content{
    /* background-color: aquamarine; */
    margin-left: 20px;
    margin-bottom: 20px;
}
wrapper aside .box1 .content h3{
    margin-bottom: 10px;
}
main{
    background-color: rgb(212, 221, 212);;
    height: 100%;
    width: 70%;
}
wrapper main .box{
    background-color: white;
    width: 100%;
    height: 13%;
    border-radius: 10px;
    margin-bottom: 10px;
}
wrapper main .box1{
    background-color: rgb(12, 2, 73);
    height: 8%;
}
wrapper aside .box2{
    /* background-color: blueviolet; */
    padding: 20px 30px;
    font-family: sans-serif;
    font-size: 18px;
    }
wrapper aside .box2 span{
    padding: 5px 10px;
    background-color: rgb(209, 240, 240);
    display: inline-block;
    border-radius: 10px;
    margin-bottom: 10px;
}
wrapper aside .box2 span:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
wrapper aside .box3 .content{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    /* padding: 0 5px; */
}
wrapper aside .box3 .content a{
    display: flex;
    align-items: center;
}

wrapper aside .box3 .content1 .planned{
    /* background-color: peru; */
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 700
}
wrapper main .box1{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}
wrapper main .box1 .feedback{
    display: flex;
}
wrapper main .box1 .feedback a{
    background-color: purple;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 10px;
}
wrapper main .box1 .sort{
    /* background-color: red; */
    display: flex;
}
wrapper main .box1 .sort p{
    font-weight: bold;
}
wrapper main .box1 .suggestions{
    /* background-color: red; */
    margin-left: 10px;
    display: flex;
    align-items: center;
}
wrapper main .box1 .suggestions .icon{
    background-color: white;
    margin-right: 15px;
    width: 10px;
    height: 10px;
}
wrapper main .box2{
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
wrapper main .box2 .box2_content{
/* background-color: green; */
margin-left: 20px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
wrapper main .box2 .box2_content .number{
    height: 60px;
    background-color: rgb(204, 236, 234);
    /* width: 30px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    color: blue;
    font-weight: 600;
}
wrapper main .box2 .box2_content .container{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    width: 70%;
}
wrapper main .box2 .box2_content .container .tag{
    /* background-color: green; */
    width: 90%;
    line-height: 30px;
}
wrapper main .box2 .box2_content .container .tag h3{
    color: rgb(21, 21, 112);
    font-weight: 600;
}
wrapper main .box2 .box2_content .container .tag p{
color: rgb(12, 53, 107);
}
wrapper main .box2 .box2_content .container .tag span a{
padding: 5px 10px;
background-color: rgb(48, 107, 184);
text-decoration: none;
color: blue;
font-weight: 600;
border-radius: 5px;
}
wrapper main .box2 .box2_content .message{
    /* background-color: red; */
    margin-right: 20px;
    display: flex;
    color: blue;
    font-weight: 600;

}